<div class="out_background">
	<div class="out_logo">
		<img src="assets/login3.gif" alt="logo"/>
	</div>    
	<div class="out_login">
		<a href="<%= login_path %>"><img src="assets/icon_facebook.png" alt="login" width="100px" height="100px"/></a>
	</div>
</div>