$(function(){
	var friend = $.ajax({
		url:"/index/friendinfo",
		type:"GET",
		dataType:"json",
		success:function(data){
			var dataArray=data.friendinfo;
			for(i=0;i<dataArray.length;i=i+1)
			{
				var latestid = dataArray[i][0];
				var status= dataArray[i][2];
				$('span#latest-' + latestid).replaceWith('<span class="status" id="latest-'+latestid+'"> '+status.substr(0,10)+'... </span>');
				
			}
			
		}
	},120000);
	
});

//= require jquery
//= require jquery_ujs