//= require jquery
//= require jquery_ujs

$(function(){
	//like button ajax
	$('button.like').click(function (){
		var msg_id = $(this).attr('id');
		var ajax_url = "/like/"+msg_id;
		console.log(ajax_url);
        
		$.ajax({
  			url: ajax_url,
  			type: "GET",
  			dataType: "json",
  			success: function(data) {
  				var like_array = data.msg.like;
<<<<<<< HEAD
  				$('span.like_count').replaceWith('<span class="like_count">'+like_array.length+'</span>');
=======
  				console.log(like_array);
  				console.log(ajax_url);
                        console.log(data);

  				$('span#like_'+msg_id).replaceWith('<span class="like_count" id="like_'+msg_id+'"> '+like_array.length+' </span>');
>>>>>>> be36e74b3bef665d0c329161b7e82cde4d9f327b
  			}
  		});

	});
<<<<<<< HEAD
/*
      $('button.CommentLike').click(function (){
        var comment_id = $(this).attr('id');
        var ajax_url = "/CommentLike/"+comment_id;
        console.log(ajax_url);
            
        $.ajax({
            url: ajax_url,
            type: "GET",
            dataType: "json",
            success: function(data) {
              var CommentLike_array = data.comment.like;
              console.log("quts : " + CommentLike_array);
              $('div.listcomment span.like_count').replaceWith('<span class="like_count">'+CommentLike_array.length+'</span>');
            }
          });

      });
*/
=======
>>>>>>> be36e74b3bef665d0c329161b7e82cde4d9f327b
	//lol button ajax
	$('button.lol').click(function (){
		var msg_id = $(this).attr('id');
		var ajax_url = "/lol/"+msg_id;
		console.log(ajax_url);
        
		$.ajax({
  			url: ajax_url,
  			type: "GET",
  			dataType: "json",
  			success: function(data) {
  				var lol_array = data.msg.lol;
<<<<<<< HEAD
  				$('span.lol_count').replaceWith('<span class="lol_count">'+lol_array.length+'</span>');
=======
  				console.log(lol_array);
  				console.log(ajax_url);
  				$('span#lol_'+msg_id).replaceWith('<span class="lol_count" id="lol_'+msg_id+'"> '+lol_array.length+' </span>');
>>>>>>> be36e74b3bef665d0c329161b7e82cde4d9f327b
  			}
  		});

	});

});

