div.addPost{
      position: absolute;
      top: 15%;
      left: 25%;
      width: 600px;
      height: 400px;
      z-index: 98;
      border: 1px outset;
      background: #D0E3EC;
      border-radius: 17px;
      -moz-border-radius: 17px;
      -webkit-border-radius: 17px;
      opacity: 0.8;
      -moz-opacity: 0.8;
      filter: alpha(opacity=8);
      
      div.destroy {
            cursor: pointer;
            z-index: 99;
            position: absolute;
            background: url(close_button.png);
            top:-18px;
            left:580px;
            width:36px;
            height:36px;
            background-repeat:no-repeat;
            background-position: center center;
      }
      span.header{
            position:absolute;
            font-size:35px;
            top:10px;
            left:10px;
      }
      div.pushToFB{
            position:absolute;
            top:25px;
            left:450px;
            font-size:10px;
      }
      textarea{
            position: absolute;
            resize: none;
            top: 60px;
            left: 25px;
            width: 550px;
            height: 150px;
            border: 0px;
            
      }
      $extracolor:#E7E9E9;
      div.extraMenu{
            
            position:absolute;
            top:215px;
            left:25px;
            height:30px;  
            li.extraMenuPicture{
                  background:$extracolor;
                  padding: 2px 5px 2px 5px;
                  float:left;
                  img{ 
                        width:20px;
                  }
            }
            span.extraMenuText{
                  position: absolute;
                  left:90px;
                  top:3px;
                  width:200px;
            }
            input{
                  position:relative;
            }
            div.addPost_title_control{
                  span{
                        position:absolute;
                        top:-100px;
                        left:250px;
                        color:red;
                        border:5px solid;
                        padding: 3px 10px 3px 10px;
                        $degree:45deg;
                        -webkit-transform: rotate($degree);
                        -moz-transform: rotate($degree);
                        -o-transform: rotate($degree);
                        -ms-transform:rotate($degree);
                        white-space: nowrap;
                  }
            }
            div.photoUpload{
                  position:absolute;
                  top:29px;
                  #addPostPreviewIMG,#addPostPreviewVIDEO{
                        position:absolute;
                        left:250px;
                        top:5px;
                  }
                  span{
                        position:absolute;
                        left:140px;
                        top:-15px;
                        padding: 3px 5px 3px 5px;
                        border:1px solid;
                  }
            }
            div.list{
                        max-height:100px;
                        overflow-y: auto;
                        li.friendName{
                              color:black;
                              background:white;
                        }

                        li.friendName:hover{
                              color:white;
                              background:black;
                        }

                        div.show_list{
                              overflow-y: auto;
                              position: absolute;
                              /*width:200px;*/
                              height:150px;
                              top:35px;
                              left:250px;
                              opacity: 0.5;
                              -moz-opacity: 0.5;
                              filter:alpha(opacity=5);
                              li.show_list_subset{
                                    margin-bottom:5px;
                                    border:1px solid #ABB9BF;
                                    background:black;
                                    span.showFriendName{
                                          float:left;
                                          white-space: nowrap;
                                          background:black;
                                          color:white;
                                          span.cancelTag{
                                                float:left;
                                                padding-right:5px;
                                                background:black;
                                                color:white;
                                          }
                                          span.cancelTag:hover{
                                                color:yellow;
                                          }                                    
                                    }
                              }
                        }
                  }

      }
      div.timeset{
            position:absolute;
            background:inherit;
            top:215px;
            left:300px;
            input{
                  border:0px;
                  height:30px;
                  width:100px;
                  /*background:inherit;*/
            }
            select{
                  background:inherit;
            }
      }
      input.flybuttom {
            position: absolute;
            cursor: pointer;
            left: 480px;
            top: 300px;
            border: 0px;
            font-size: 36px;
            padding: 10px 20px 10px 20px;
            background: #B16566;
            padding: 0px 25px 0px 25px;
            border-radius: 7px;
            -moz-border-radius: 7px;
            -webkit-border-radius: 7px;
      }
      div.checkInput{
            position: absolute;
            top:300px;
            left:100px;
            color:white;
            background:red;
            font-size:30px;
      }
}
/*
div.addPost {
  position: absolute;
  top: 20%;
  left: 25%;
  width: 600px;
  height: 450px;
  z-index: 98;
  border: 1px outset;
  background: #D0E3EC;
  border-radius: 17px;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=8); }
  div.addPost div.addPost_title_control {
    float: right;
    margin-top: 35px;
    margin-right: 20px;
    background: white; }
    div.addPost div.addPost_title_control div.one_man {
      float: right;
      margin: 3px 5px 3px 5px;
      width: 29px;
      height: 29px;
      background: url(icon/one_man2.png);
      background-position: center center;
      background-repeat: no-repeat;
      box-shadow: -0.3px 1px 2px #B3B6BD; }
    div.addPost div.addPost_title_control div.two_man {
      float: right;
      margin: 3px 5px 0px 5px;
      width: 36px;
      height: 36px;
      background: url(two_man2.png);
      background-position: center center;
      background-repeat: no-repeat;
      box-shadow: -0.3px 1px 2px #B3B6BD; }
    div.addPost div.addPost_title_control div.one_man:hover {
      opacity: 0.5;
      -moz-opacity: 0.5;
      filter: alpha(opacity=5); }
    div.addPost div.addPost_title_control div.two_man:hover {
      opacity: 0.5;
      -moz-opacity: 0.5;
      filter: alpha(opacity=5); }
    div.addPost div.addPost_title_control input#msg_title {
      border: 0px;
      float: right;
      font-size: 25px;
      width: 250px;
      border: 0px;
      color: #B8BABA; }
  div.addPost span.header {
    margin-top: 30px;
    margin-left: 20px;
    float: left;
    font-size: 32px; }
  div.addPost textarea {
    resize: none;
    margin-top: 25px;
    margin-left: 25px;
    width: 550px;
    height: 150px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-top: 2px groove #CFDEE5;
    border-left: 1px groove #CFDEE5;
    border-bottom: 0px;
    border-right: 0px;
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter: alpha(opacity=7); }
  div.addPost input.flybuttom {
    cursor: pointer;
    margin-left: 480px;
    margin-top: 60px;
    border: 0px;
    font-size: 36px;
    padding: 10px 20px 10px 20px;
    background: #B16566;
    padding: 0px 25px 0px 25px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px; }
  div.addPost input.flybuttom:active {
    background: #8F6162; }
  div.addPost div.timeset {
    position: relative;
    float: right;
    margin-right: 25px;
    margin-top: 30px; }
    div.addPost div.timeset select {
      background: #EEEEEE;
      font-family: inherit;
      height: 28px; }
    div.addPost div.timeset input#datepicker {
      font-family: inherit;
      height: 28px;
      width: 150px;
      text-align: center;
      color: #1F1F1F; }
    div.addPost div.timeset input#afterpicker {
      font-family: inherit;
      height: 28px;
      width: 150px;
      text-align: center;
      color: #1F1F1F; }
  div.addPost div.addPost_sky_lantern {
    position: absolute;
    float: left;
    margin-top: 230px;
    width: 250px;
    height: 250px;
    background: url(addPost_sky_lantern.gif);
    opacity: 0.9;
    -moz-opacity: 0.9;
    filter: alpha(opacity=9);
    background-position: center center;
    background-repeat: no-repeat; }

    div.addPost div.photoUpload input#addPostPhotoURL{
      position:absolute;
      width:460px;
      left:25px;
    }

    div.addPost div.photoUpload h1.preview{
      font-size:12px;
      position:absolute;
      left:500px;
    }
    div.addPost div.photoUpload h1.preview:active{
      background:black;
      color:white;
    }
  div.addPost div.photoUpload #addPostPreviewVIDEO,
  div.addPost div.photoUpload #addPostPreviewIMG{
      position:absolute;
      left:55px;
      top:290px;
  }

  div.addPost div.checkInput {
    position: absolute;
    top: 340px;
    right: 25px;
    width: 250px;
    height: 20px;
    font-size: 15px;
    text-align: right; 
    color: #CA2B2B;
  }
  div.addPost div.pushToFB{
  position:absolute;
  right:25px;
  top:320px;
  }
*/