div.title {
  z-index: 99;
  float: left;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  margin-top: 5px;
  border-top: 1px inset;
  border-bottom: 1px outset;
  background: #FFFFFF;
  padding: 5px; }
  div.title span.logo {
    font-size: 48px; }
  div.title div.logo {
    float: left;
    width: 263px;
    height: 58px;
    background: url(title.jpg); }
  div.title div.logo:hover {
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=8); }
  div.title div.title_control {
    margin-top: 7px;
    float: right; }
    div.title div.title_control div.add {
      float: right;
      margin: 0px 5px 0px 5px;
      width: 36px;
      height: 36px;
      background: url(addIcon.gif);
      background-position: center center;
      background-repeat: no-repeat; }
    div.title div.title_control div.msg {
      float: right;
      margin: 0px 5px 0px 5px;
      width: 36px;
      height: 36px;
      background: url(msgIcon.gif);
      background-position: center center;
      background-repeat: no-repeat; }
    div.title div.title_control div.add:hover {
      opacity: 0.5;
      -moz-opacity: 0.5;
      filter: alpha(opacity=5); }
    div.title div.title_control div.msg:hover {
      opacity: 0.5;
      -moz-opacity: 0.5;
      filter: alpha(opacity=5); }
  div.title div.userinfo {
    opacity: 0.9;
    -moz-opacity: 0.9;
    filter: alpha(opacity=9);
    float: right;
    font-size: 24px;
    padding-top: 8px;
    padding-bottom: 9px; }
    div.title div.userinfo span {
      padding-top: 6px;
      padding-bottom: 7px; }
  div.title div.userinfo:hover {
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=1); }

div.content {
  z-index: 95;
  padding-top: 76px; }

div.background {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(bg.gif);
  background-repeat: repeat-x;
  background-position: left bottom; }

div.menu ul {
  position: absolute;
  z-index: 98;
  top: 75px;
  left: 0px;
  margin-top: 1px;
  font-size: 24px;
  width: 200px;
  text-align: center;
  background: #FFFFFF; }
  div.menu ul li {
    cursor: pointer;
    font-size: 15px;
    border: 1px outset; }
  div.menu ul li:active {
    border: 1px inset; }
  div.menu ul li:hover {
    color: #FFFFFF;
    background: #000000; }
    div.menu ul li a {
      color: 000000;
      text-decoration: none; }
    div.menu ul li a:visited {
      color: black; }
    div.menu ul li a:hover {
      color: #FFFFFF;
      background: #000000; }

div.addPost {
  position: absolute;
  top: 20%;
  left: 25%;
  width: 600px;
  height: 320px;
  z-index: 98;
  border: 1px outset;
  background: #D0E3EC;
  border-radius: 17px;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=8); }
  div.addPost div.addPost_title_control {
    float: right;
    margin-top: 20px;
    background: white; }
    div.addPost div.addPost_title_control div.one_man {
      float: right;
      margin: 0px 5px 0px 5px;
      width: 36px;
      height: 36px;
      background: url(one_man.gif);
      background-position: center center;
      background-repeat: no-repeat; }
    div.addPost div.addPost_title_control div.two_man {
      float: right;
      margin: 0px 5px 0px 5px;
      width: 36px;
      height: 36px;
      background: url(two_man.gif);
      background-position: center center;
      background-repeat: no-repeat; }
    div.addPost div.addPost_title_control div.one_man:hover {
      opacity: 0.5;
      -moz-opacity: 0.5;
      filter: alpha(opacity=5); }
    div.addPost div.addPost_title_control div.two_man:hover {
      opacity: 0.5;
      -moz-opacity: 0.5;
      filter: alpha(opacity=5); }
    div.addPost div.addPost_title_control input.title {
      border: 0px;
      float: right;
      font-size: 32px;
      width: 200px;
      border: 0px;
      color: #B8BABA; }
  div.addPost span {
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    font-size: 32px; }
  div.addPost textarea {
    resize: none;
    margin-top: 25px;
    margin-left: 25px;
    width: 550px;
    height: 110px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-top: 2px groove #CFDEE5;
    border-left: 1px groove #CFDEE5;
    border-bottom: 0px;
    border-right: 0px;
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter: alpha(opacity=7); }
  div.addPost input.flybuttom {
    margin-left: 480px;
    margin-top: 25px;
    border: 0px;
    font-size: 36px;
    padding: 10px 20px 10px 20px;
    background: #B16566;
    padding: 0px 25px 0px 25px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px; }
  div.addPost input.flybuttom:active {
    background: #8F6162; }
  div.addPost div.timeset {
    position: absolute;
    margin-left: 280px;
    margin-top: 5px; }
    div.addPost div.timeset select {
      background: #EEEEEE;
      font-family: inherit;
      height: 28px; }
    div.addPost div.timeset input.date {
      /*float:right;*/
      font-family: inherit;
      height: 28px;
      width: 90px;
      text-align: center;
      color: #B8BABA; }
  div.addPost div.addPost_sky_lantern {
    position: absolute;
    float: left;
    margin-top: 135px;
    width: 250px;
    height: 250px;
    background: url(addPost_sky_lantern.gif);
    opacity: 0.9;
    -moz-opacity: 0.9;
    filter: alpha(opacity=9);
    background-position: center center;
    background-repeat: no-repeat; }

div.friendList {
  position: absolute;
  top: 20%;
  left: 25%;
  width: 600px;
  height: 320px;
  z-index: 98;
  border: 1px outset;
  background: #FFF28E;
  border-radius: 17px;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=8); }
  div.friendList span {
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    font-size: 32px; }
  div.friendList div.friendData {
    overflow-y: scroll;
    position: absolute;
    width: 550px;
    height: 240px;
    margin-left: 25px;
    margin-top: 60px; }
    div.friendList div.friendData div.friend {
      float: left;
      width: 250px;
      margin: 5px;
      background: #FFF2C9;
      opacity: 0.8;
      -moz-opacity: 0.8;
      filter: alpha(opacity=8); }
      div.friendList div.friendData div.friend span {
        float: left;
        font-size: 20px; }
      div.friendList div.friendData div.friend img {
        float: left;
        height: 40px;
        width: 40px; }
    div.friendList div.friendData div.friend:hover {
      opacity: 1;
      -moz-opacity: 1;
      filter: alpha(opacity=1); }
