<<<<<<< HEAD
.out_background{
	/*background-image:url('bg.gif');*/
	/*background-repeat:no-repeat;*/
	/*background-attachment:fixed;*/
	/*background-position:center; */
	/*background-size:99%;*/
	z-index: 1;
  	position: fixed;
  	width: 100%;
  	height: 100%;
  	background: url(out_bg2.gif);
  	background-repeat: repeat;
  	/*background-position: left bottom;*/ 
}

.out_logo{
	z-index: 3;
	position: absolute;
	/*float:left;*/
	top: 10px;
	left: 300px;
	opacity: 0.9;
	-moz-opacity: 0.9;
	filter:alpha(opacity=7);
}

.out_login{
	z-index: 4;
	position: absolute;
	/*float:left;*/
	top: 370px;
	right: 430px;
	opacity: 0.7;
	-moz-opacity: 0.7;
	filter:alpha(opacity=7);
}

.out_login:hover{
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=1);

}
=======

div.CF {
  position: absolute;
  margin-top: 25%;
  margin-left: 47%; }
  div.CF div.login {
    float: left;
    position: absolute;
    margin-left: -210px;
    margin-top: 185px;
    background: url(../images/fb-login-button.png);
    width: 154px;
    height: 22px; }
  div.CF div.bg01 {
    position: absolute;
    width: 800px;
    height: 600px;
    margin-left: -400px;
    margin-top: -160px;
    background: url(../images/bg_element_01.gif);
    background-repeat: no-repeat; }
  div.CF div.bg02 {
    position: absolute;
    width: 502px;
    height: 140px;
    margin-left: -500px;
    margin-top: 30px;
    background: url(../images/bg_element_02.gif);
    background-repeat: no-repeat; }
>>>>>>> be36e74b3bef665d0c329161b7e82cde4d9f327b
