.out_background{
	/*background-image:url('bg.gif');*/
	/*background-repeat:no-repeat;*/
	/*background-attachment:fixed;*/
	/*background-position:center; */
	/*background-size:99%;*/
	z-index: 1;
  	position: fixed;
  	width: 100%;
  	height: 100%;
  	background: url(out_bg2.gif);
  	background-repeat: repeat;
  	/*background-position: left bottom;*/ 
}

.out_logo{
	z-index: 3;
	position: absolute;
	/*float:left;*/
	top: 10px;
	left: 300px;
	opacity: 0.9;
	-moz-opacity: 0.9;
	filter:alpha(opacity=7);
}

.out_login{
	z-index: 4;
	position: absolute;
	/*float:left;*/
	top: 370px;
	right: 430px;
	opacity: 0.7;
	-moz-opacity: 0.7;
	filter:alpha(opacity=7);
}

.out_login:hover{
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=1);

}
