div.feedicon {
  /*border-style: solid;*/
  /*vertical-align: middle;*/
  width: 50px;
  margin-top: 250px;
  /*margin-top: 25%;*/
  margin-left: 500px;
  /*margin-left: 25%;*/
  /*margin-right: 500px;*/
  z-index: 98; }

div.feeditem {
  font-family: 'Oxygen', sans-serif;
  box-shadow: -0.3px 1px 20px #B3B6BD; 
  z-index: 97;
  display: none;
  background: #FFFFFF;
  border-radius: 10px;
  border: 2px solid #d0d0d0;
  margin-left: 520px;
  /*margin-top: 20px;*/
  /*height: 300px;*/
  width: 400px;
  /*padding: 1px;*/ }
  div.feeditem a:visited {
    color: #005AB5; }
  div.feeditem a {
    text-decoration: none; }
  div.feeditem button.prev {
    background: #FFFFFF;
    border: 0px;
    float: left; }
  div.feeditem button.next {
    background: #FFFFFF;
    border: 0px;
    float: right; }
  div.feeditem button.prev:hover {
    background: #000000;
    color: #FFFFFF; }
  div.feeditem button.next:hover {
    background: #000000;
    color: #FFFFFF; }
  div.feeditem img.feedprofile {
    box-shadow: -0.3px 1px 2px #B3B6BD;
    margin-left: 4px;
    height: 105px;
    width: 85px; }
  div.feeditem img.commentprofile {
    box-shadow: -0.3px 1px 2px #B3B6BD; 
    margin-left: 4px;
    height: 45px;
    width: 40px; }
  div.feeditem div.contentitem {
    background: #FFFFFF;
    width: 295px;
    float: top;
    margin-left: 4px;
    margin-right: 4px;
    top: 0px;
    display: inline-block;
    vertical-align: top; }
    div.feeditem div.contentitem h1 {
      color: #005AB5;
      font-weight: bold;
      padding-bottom: 10px; }
    div.feeditem div.contentitem h1:hover {
      opacity: 0.5;
      -moz-opacity: 0.5;
      filter: alpha(opacity=5); }
    div.feeditem div.contentitem button {
      background: #FFFFFF;
      color: #005AB5;
      border: 0px;
      padding: 0px;
      font-weight: bold; }
    div.feeditem div.contentitem button:hover {
      opacity: 0.5; }
    div.feeditem div.contentitem div.content {
      padding-top: 5px; }
    div.feeditem div.contentitem div.feeditemtime {
      opacity: 0.5;
      text-align: center;
      padding-top: 5px; }
    div.feeditem div.contentitem div.mood {
      font-size: 12px;
      margin-top: 10px; }
      div.feeditem div.contentitem div.mood span {
        margin-left: 4px; }
    div.feeditem div.contentitem div.comment {
      background: #F0F0F0;
      margin-top: 10px;
      margin-bottom: 5px;
      padding: 4px; }
      div.feeditem div.contentitem div.comment form.comment a.pic {
        display: inline-block;
        float: left; }
      div.feeditem div.contentitem div.comment form.comment a.name {
        margin-left: 4px;
        color: #005AB5;
        font-weight: bold;
        display: inline-block; }
      div.feeditem div.contentitem div.comment form.comment a.name:hover {
        opacity: 0.5;
        -moz-opacity: 0.5;
        filter: alpha(opacity=5); }
      div.feeditem div.contentitem div.comment form.comment div.time {
        font-size: 12px;
        margin-left: 4px;
        display: inline-block;
        opacity: 0.5; }
      div.feeditem div.contentitem div.comment form.comment button {
        background: #F0F0F0;
        color: #005AB5;
        border: 0px;
        padding: 0px;
        font-weight: bold; }
      div.feeditem div.contentitem div.comment form.comment button:hover {
        opacity: 0.5; }
      div.feeditem div.contentitem div.comment form.comment input {
        width: 280px; }
