<!DOCTYPE html>
<html>
<head>
  <%= yield :head %>
<<<<<<< HEAD
  <title>Sky Lantern</title>
=======
>>>>>>> be36e74b3bef665d0c329161b7e82cde4d9f327b
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
